
<h3 class="article-title">Vue 3. Формы и компоненты</h3>
<div class="article-meta">
  <span>🗓 8 Мая 2025</span>
  <span>🏷️ Vue 3, JavaScript</span>
</div>
<div class="list-headings">
<ol>
  <li><a href="#doubleside_binding">Двусторонняя привязка данных</a></li>
  <li><a href="#add_delete_edit">Добавление, удаление, редактирование</a></li>
</ol>
</div>
<h3 class="section-title" id="doubleside_binding">Двусторонняя привязка данных</h3>
<p>Научимся работе с инпутами в фреймворке Vue. С их помощью мы будем реактивно добавлять данные на страницу. Мы можем связать свойство и инпут таким образом, чтобы изменение любого из них приводило к изменению другого. Это делается с помощью директивы v-model, в которой указывается свойство, привязанное к инпуту. После запуска кода в инпуте будет стоять текст свойства message. А если поредактировать данные в инпуте - свойство также изменится соответствующим образом.</p>
<p>Допустим, у нас есть кнопка и инпут, в который вводится число. По нажатию на кнопку выводится квадрат введенного в инпут числа. Для решения нужно два свойства. Свойство num будет изменяться по мере ввода данных в инпут, а в свойство res мы будем записывать результат возведения в квадрат. Сделаем инпут, привяжем к нему свойство num, сделаем кнопку, по клику на которую будет выполнятся метод calc, и сделаем также абзац, в который будет выводится результат. Получится, что как только будет вызван метод calc (а это случится по нажатию на кнопку), в свойство res запишется результат и при этом одновременно выведется в нашем абзаце.</p>
<p>Работа с textarea происходит абсолютно также, как и с инпутами - через директиву v-model.</p>
<p>Работа с checkbox происходит аналогично. Пусть у нас есть переключатель. Сделаем свойство checked, которое будет управлять работой этого checkbox, привяжем через v-model. Если checkbox отмечен - свойство checked будет иметь значение true, а если не отмечен - то false. Чтобы убедится в этом, можно вывести значение свойства на экран. С помощью тернарного оператора можно выводить что-нибудь более осмысленное. Пусть у нас есть группа checkbox. Можно сделать так, чтобы значение атрибутов value всех отмеченных чекбоксов складывалось в массив. Для этого нужно к v-model этих checkbox привязать массив. Объявим свойство с массивом и привяжем этот массив к группе checkbox.</p>
<p>Работа с radio происходит аналогичным образом. Для начала сделаем свойство choice, которое мы будем привязывать к группе radio. Cделаем свойство choice, которое мы будем привязывать к группе radio, затем сделаем группу radio, напишем каждой из них директиву v-model и привяжем к ней свойство choice. Дадим также каждой из них свой value. Теперь в свойстве choice всегда будет лежать value отмеченного radio.</p>
<p>Работа с select осуществляется аналогично - на тег вешается атрибут v-model, к нему привязывается свойство объекта data. В это свойство будет попадать текст выбранного тега option. Теги option можно также создавать не в ручную, а с помощью цикла.</p>
<p>Можно реактивно блокировать элементы формы с помощью атрибута disabled.</p>
<pre><code class="lang-html">&lt;template&gt;
  &lt;!-- Связка свойства и инпута --&gt;
  &lt;input v-model="message"&gt;
  &lt;p&gt;{{ message }}&lt;/p&gt;

  &lt;input v-model="num"&gt;
  &lt;button v-on:click="calc"&gt;work&lt;/button&gt;
  &lt;p&gt;{{ res }}&lt;/p&gt;

  &lt;!-- Связка textarea со свойством --&gt;
  &lt;textarea v-model="text"&gt;&lt;/textarea&gt;
  &lt;p&gt;{{ text }}&lt;/p&gt;

  &lt;!-- Связка checkbox со свойством --&gt;
  &lt;input type="checkbox" v-model="checked"&gt;
  &lt;p&gt;{{ checked ? 'checked' : 'no checked' }}&lt;/p&gt;

  &lt;!-- Связка группы checkbox со свойством-массивом --&gt;
  &lt;input type="checkbox" v-model="arr" value="Python"&gt;
  &lt;input type="checkbox" v-model="arr" value="JS"&gt;
  &lt;input type="checkbox" v-model="arr" value="Go"&gt;
  &lt;ul&gt;
    &lt;li v-for="lang in langs_arr"&gt;{{ lang }}&lt;/li&gt;
  &lt;/ul&gt;

  &lt;!-- Связка radio со свойством --&gt;
  &lt;input name="radio" type="radio" v-model="choice" value="v1"&gt;
  &lt;input name="radio" type="radio" v-model="choice" value="v2"&gt;
  &lt;input name="radio" type="radio" v-model="choice" value="v3"&gt;
  you choosed: {{ choice }}

  &lt;!-- Связка группы select со свойством --&gt;
  &lt;select v-model="selected"&gt;
    &lt;option&gt;value1&lt;/option&gt;
    &lt;option&gt;value2&lt;/option&gt;
    &lt;option&gt;value3&lt;/option&gt;
  &lt;/select&gt;
  selected: {{ selected }}

  &lt;!-- Вывод группы select-option из свойства через цикл --&gt;
  &lt;select v-model="selected"&gt;
    &lt;option v-for="option in options"&gt;{{ option }}&lt;/option&gt;
  &lt;/select&gt;
  selected: {{ selected }}

  &lt;!-- Реактивная блокировка через disabled --&gt;
  &lt;select v-model="selected"&gt;
    &lt;option v-bind:disabled="isDisabled"&gt;btn&lt;/option&gt;
  &lt;/select&gt;
&lt;/template&gt;

&lt;script&gt;
export default {
  name: 'App',
  data() {
    return {
      message: 'hello',
      num: 0,
      res: 0,
      text: '',
      checked: true,
      langs_arr: ["Python"],
      choice: '',
      selected: 'value3', // значение по умолчанию
      options: ['value1', 'value2', 'value3'],
      isDisabled: true,
    }
  }
  methods: {
    calc: function() {
      this.res = this.num ** 2;
    }
  }
}
&lt;/script&gt;</code></pre>
<h3 class="section-title" id="add_delete_edit">Добавление, удаление, редактирование</h3>
<p>Напишем код, который будет реактивно добавлять текст из инпута в конец массива и выводить итоговый результат.</p>
<p>Также сделаем кнопку реактивного удаления элементов из списка (сделаем в каждом пункте списка кнопку для удаления, в этой кнопке привяжем метод, параметром которого будем передавать номер элемента массива, которого мы собираемся удалить). Заодно реализуем кнопку для удаления данных из массива объектов (сделаем в каждом пункте списка кнопку для удаления, к ней привяжем метод, параметром которого будем передавать id элемента массива, которого мы собираемся удалить).</p>
<p>И в конце реализуем редактирование элементов массива объекта. Сделаем для этого кнопку, по нажатию на которую в пункте списка будет появляться форма для редактирования. После заполнения формы мы будем жать на кнопку сохранения и изменения будут сохраняться в массиве, а форма будет убираться. В массиве объектов каждому объекту мы должны добавить еще одно поле, содержащее состояние юзера, показ или редактирование.</p>
<pre><code class="lang-html">&lt;template&gt;
  &lt;input v-model="newItem"&gt;
  &lt;button @click="addItem"&gt;add&lt;/button&gt;

  &lt;ul&gt;
    &lt;li v-for="(item, index) in items" :key="index"&gt;
      {{ item }}
      &lt;button @click="removeItem(index)"&gt;remove&lt;/button&gt;
    &lt;/li&gt;
  &lt;/ul&gt;

  &lt;ul&gt;
    &lt;li v-for="user in users" :key="user.id"&gt;
      {{ user.name }}
      {{ user.surn }}
      &lt;button @click="removeObjItem(user.id)"&gt;remove&lt;/button&gt;
    &lt;/li&gt;
  &lt;/ul&gt;

  &lt;!-- Разделенный режим показа/редактирования - в зависимости от соотв. флага --&gt;
  &lt;ul&gt;
    &lt;li v-for="user in users" :key="user.id"&gt;
      &lt;template v-if="!user.isEdit"&gt;
        {{ user.name }}
        {{ user.surn }}
        &lt;button @click="edit(user)"&gt;edit&lt;/button&gt;
      &lt;/template&gt;
      &lt;template v-else&gt;
        &lt;input v-model="user.name"&gt;
        &lt;input v-model="user.surn"&gt;
        &lt;button @click="save(user)"&gt;save&lt;/button&gt;
      &lt;/template&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/template&gt;

&lt;script&gt;
export default {
  data() {
    return {
      items: ['a', 'b', 'c', 'd', 'e'],
      newItem: '',
      users: [
        { id: 1, name: 'name1', surn: 'surn1', isEdit: true },
        { id: 2, name: 'name2', surn: 'surn2', isEdit: true },
        { id: 3, name: 'name3', surn: 'surn3', isEdit: false },
      ]
    }
  },
  methods: {
    addItem: function() {
      this.items.push(this.newItem);
    }
    removeItem: function(index) {
      this.items.splice(index, 1);
    },
    edit(user) {
      user.isEdit = true;
    },
    save(user) {
      user.isEdit = false;
    },
  }
}
&lt;/script&gt;
</code></pre>
